<header class="index-header">
  个人中心
  <span><a href="/">退出</a></span>
  <span class="my-news"><i class="glyphicon glyphicon-bell"></i></span>
</header>  
<section>
  <div class="my-left">
    <div class="my-info">
      <div class="my-portrait-box"><img src="/{{info.portrait}}"></div>
    </div>
    <div class="my-info">
      <label>用户名:</label>
      <span>{{info.name}}</span>
    </div>
    <div class="my-info">
      <label>分类:</label>
      <span>{{info.raceCn}}</span>
    </div>
    <div class="my-info">
      <label>邮箱:</label>
      <span>{{info.email}}</span>
    </div>
    <div class="my-info">
      <label>权限:</label>
      <span>{{info.powerCn}}</span>
    </div>
    <div class="my-info">
      <label></label>
      <span>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">提升为超级猫</button>  
      </span>  
    </div>
  </div>
  <ul class="my-right">
    <li><a href="/jvmo/list">巨魔氏族</a></li>
    <li><a href="/jvmo/list">人间四月天人</a></li>
    <li><a href="/jvmo/list">偷窥狂</a></li>
    <li><a href="/jvmo/list">技术分类</a></li>
  </ul>
</section>


<!-- promoteSuperCat -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  var socket = io();
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
</script>