<div>
	<h2>魔兽世界历史研究之巨魔篇</h2>
	<a href="add">增加</a>
</div>
<div>
	<ul>
	{{#each jvmolist}}
	  <li>
	    <h5>{{name}}巨魔<img src="{{picture}}"></h5>
	    <span>分布:{{distribution}}</span>
	    <span>所属:{{classification}}</span>
	  </li> 　
	{{/each}}
	</ul>
<div>
	<a>上一页</a>
	{{page}}
	<a href="list?page={{nextpage}}">下一页</a>
</div>
</div>
